@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Indie+Flower&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$title-font: 'dynaPuff';
$normal-font: 'poppins';
$theme-color: rgb(188, 0, 22);
$theme2-color: #ffc736;